.channel-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.channel-modal-child {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
}

.input-container {
  display: flex;
}

.create-channel.header {
  font-size: 30px;
  font-weight: 700;
  padding: 40px;
}

.channel-input-static {
  width: 590px;
  margin-left: 40px;
  margin-right: 15px;
  color: #343538;
}

.channel-input {
  flex-grow: 1;
  border: none;
  height: auto;
  color: black;
}

.create-channel.go {
  width: 60px;
  height: 60px;
  border-top: 5px;
  background-color: #d4d6d6;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.search-dropdown {
  margin-left: 40px;
  margin-top: 20px;
  position: fixed;
  width: 80%;
}

.search-dropdown h4 {
  font-size: 13px;
  padding: 10px;
  color: grey;
}

.search-results {
  position: relative;
  overflow-y: scroll;
  max-height: 200px;
}

.search-results li {
  padding: 5px;
  border-top: 1px solid lightgrey;
  cursor: pointer;
  &:hover {
    background-color: #eaf5fc;
  }
}

.create-channel.go.ready {
  background-color: #26a868;
}

.escape {
  margin-left: 800px;
  margin-top: 150px;
  width: 50px;
  height: 50px;
  color: grey;
  cursor: pointer;
  &:hover {
    background-color: #e8e8e8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #343538;
  }
}

.escape span {
  position: relative;
  &:hover {
    color: #e8e8e8;
  }
}

.ex {
  margin-left: 20px;
  font-size: 25px;
  // color: #e8e8e8;
}

.esc {
  margin-left: 15px;
  font-size: 13px;
  padding: 2px;
    // color: #e8e8e8;
}

/// fun input
.bigolbox {
  width: 590px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  margin-left: 40px;
  margin-right: 15px;
  color: #343538;
}

.littleholder {
  padding: 15px;
}

.selected-user {
  box-sizing: border-box;
  margin: 5px;
  border-radius: 2px;
  padding: 5px;
  font-size: 13px;
  color: white;
  background-color: #359ce0;
}
