.giphy-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.gify-modal {
  position: relative;
  left: 206px;
  top: 80px;
  height: 210px;
  margin-top: 70px;
  width: 300px;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
}

.actual-gif {
  height: 200px;
  width: auto;
}

.gify-modal-hidden {
  display: none;
}

.send-button {
  padding: 5px;
  background-color: white;
  margin: 5px;
  color: #26a868;
  font-size: 13px;
  border: 1px solid #26a868;
  border-radius: 5px;
  font-weight: 700;
}

.shuffle-button {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
}

.cancel-button {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
}
