.channel-view {
  right: 0;
  left: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: 'Lato', sans-serif;
  overflow-y: hidden;
}

.channel-header {
  height: 60px;
  width: 100%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  list-style-position: inside;
  background-color: white;
  color: black;
  padding: 5px;
}

.channel-header.num {
  height: 10px;
  width: 60px;
  padding: 5px;
  font-size: 13px;
  position: relative;
  border: none;
}

.channel-header.title {
  height: 30px;
  width: auto;
  padding: 5px;
  font-size: 18px;
  font-weight: 900;
  position: relative;
  border: none;
}

.channel-body {
  height: calc(100% - 132px);
  left: 0;
  background-color: white;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  &::-webkit-scrollbar {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 5px;
  }
}

.channel-message-list-special {
  padding-bottom: 40px
}

.channel-footer {
  height: 72px;
  margin-left: 0;
  margin-right: 20px;
  bottom: 0;
  width: calc(100% - 200px);
  position: fixed;
  background-color: white;
}

.chatbox {
  position: absolute;
  width: calc(100% - 40px);
  margin: 0 20px 20px 20px;
  // height: 60px;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 5px;
  display: flex;
  &:focus-within {
    border: 2px solid grey;
  }
}

.chatbox input {
  border: none;
  width: 100%;
  &::placeholder {
    font-size: 15px;
  }
}

.contact-icons {
  display: flex;
  margin-right: 20px;
  margin-top: 7px;
}

.github-icon {
  padding: 5px;
}

.github-real {
  width: 30px;
  height: 30px;
}

.linkedin-icon {
  padding: 9px;
}

.linkedin-real {
  width: 25px;
  height: 25px;
}
