

.emoji-menu.hidden {
  display: none;
}

.emoji-menu {
  margin-left: 898px;
  top: 555px;
  height: 455px;
  position: absolute;
}
//
.emoji-trigger {
  height: 30px;
  width: 30px;
  margin-right: 13px;
  margin-top: 14px;
}
//
// .emoji-category {
//   width: auto;
// }

.emoji-picker .emoji-list {
  width: 100% !important;
}
