

.emoji-menu.hidden {
  display: none;
}

.emoji-menu {
  // top: 57%;
  // left: 74%;
  bottom: -43px;
  right: 21px;
  height: 455px;
  position: absolute;
}

.emoji-trigger {
  height: 30px;
  width: 30px;
  margin-right: 13px;
  margin-top: 14px;
}

.emoji-picker .emoji-list {
  width: 100% !important;
}
