.whole_page {
  background-color: lightgrey;
  display: table;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.side-bar {
  font-family: 'Lato', sans-serif;
  background-color: #4D394B;
  height: 100%;
  width: 200px;
  position: fixed;
  overflow: hidden;
  // overflow-y: scroll
  // display: flex;
  z-index: 1;
}


.side-bar.header {
  color: white;
  z-index: 1;
  height: 100px;
  width: 190px;
  font-size: 17px;
  position: absolute;
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    background-color: #3d2d3b;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
  }

}

.side-bar.header h3 {
  padding: 2px;
  align-items: center;
  margin-top: 5px;
}

.side-bar.logout {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 10px;

}

.logout-button {
  width: 125px;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  margin: 20px;
  margin-left: 15px;
  cursor: pointer;
}

// channels
.side-bar.channels {
  width: auto;
  height: 50px;
  margin-top: 150px;
  margin-left: 5px;
  padding: 10px;
  color: rgb(216, 216, 216);
  cursor: pointer;
  position: relative;
  display: block;
}

.side-bar.channels h4 {
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 170px;
  &:hover {
    color: white;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    border-radius: 5px;
  }
}

.side-bar.channel-index {
  width: auto;
  max-height: 200px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: #4D394B;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3d2d3b;
    border-radius: 5px;
  }
}

.side-bar.chatroom-index-item-holder {
  height: auto;
  display: flex;
  width: 160px;
  position: relative;
  justify-content: space-between;
  padding: 2px;
  &:hover {
    background-color: #3d2d3b;
    .channel-delete {
      display: block;
      margin-right: 10px;
      border: 1px solid rgb(216, 216, 216);
      height: 10px;
      border-radius: 50px;
      width: 13px;
      font-size: 13px;
      text-align: center;
      padding-bottom: 3px;
        &:hover {
          color: white;
          transition: background 0.3s;
          -webkit-transition: background 0.3s;
        }
    }
  }

}

.channel-delete {
  display: none;
}

.side-bar.chatroom-index-item {
  width: 160px;
  padding: 3px;
  height: auto;
  position: relative;
  &:hover {
    background-color: #3d2d3b;
  }

}


.selected {
  background-color: #4C9689;
  &:hover {
    background-color: #4C9689;
  }
}

////DMS

.side-bar.dms {
  width: auto;
  height: 50px;
  // margin-top: 150px;
  margin-left: 5px;
  top: 160px;
  padding: 10px;
  color: rgb(216, 216, 216);
  cursor: pointer;
  position: relative;
  display: block;
}

.side-bar.dms h4 {
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 170px;
  &:hover {
    color: white;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    border-radius: 5px;
  }
}

.side-bar.dm-index-item {
  width: 160px;
  padding: 3px;
  height: auto;
  position: relative;
  &:hover {
    background-color: #3d2d3b;
  }

}

.side-bar.dm-index {
  width: auto;
  &::-webkit-scrollbar {
    background-color: #4D394B;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3d2d3b;
    border-radius: 5px;
  }
}

.selected {
  background-color: #4C9689;
  &:hover {
    background-color: #4C9689;
  }
}
