/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 * {
   outline: none;
 }

.splash-main {
  display: flex;
  justify-content: space-between;
}

.splash-page {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.splash-photo {
  padding: 40px 15px 15px;
  margin-left: 100px;
}

.splash-main.text {
  display: list-item;
  list-style-type: none;
  padding: 7.5px;
  width: 750px;
}

.splash-main.header {
  font-family: 'Source Serif Pro', serif;
  font-size: 75px;
  font-weight: 500;
  line-height: 1.05;
  color: #323648;
  padding: 15px;
  margin: 7.5px;
}

.splash-main.p {
  padding: 15px;
  margin: 7.5px;
  width: 600px;
  color: #5b5e6d;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.25;
}

.splash-main.signup {
  cursor: pointer;
  align-items: flex-end;
  padding: 30px 60px;
  background-color: #433fcc;
  border-radius: 7.5px;
  font-size: 15px;
  margin: 0 7.5px 0 15px;
  color: white;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}

.splash-main.signup:hover {
  background-color: #2f2aba;
}

.splash-main.login {
  padding: 15px;
  margin: 7.5px;
  font-size: 20px;
}

.session-nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.session-nav.left {
  margin-left: 75px;
  border: none;
}

.session-nav.left-left {
  background-color: white;
  border: none;
  outline: none;
  font-size: 22.5px;
  font-weight: 400;
}

.session-nav.right {
  margin-right: 75px;
  border: none;
}

.session-nav.right-right {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #323648;
  width: 120px;
  border-radius: 5px;
  outline: none;
  text-align: justify;
  line-height: 5px;
  margin-left: 495px;
}

.hidden {
  display: none;
}
