// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-page {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

.auth-form-box {
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  border: 1px solid lightgrey;
  margin: 45px auto;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}

.auth-section {
  display: list-item;
  list-style-type: none;
  padding: 5px;
}

.auth-form-title {
  font-size: 32px;
  padding: 5px;
  padding-bottom: 15px;
}

.auth-button {
  margin: 5px;
  width: 345px;
  height: 55px;
  padding: 15px;
  border-radius: 5px;
  background-color: #56bc71;
  color: white;
  font-size: 20px;
  font-weight: 300px;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  width: 325px;
  height: 40px;
  padding: 7px;
  font-size: 20px;
}

input::placeholder {
  font-size: 20px;
  font-weight: 200;
  color: #c1c1c1;
}

.auth-redirect {
  padding: 10px;
}

.auth-errors li {
  margin: 0 auto;
  width: 400px;
  height: auto;
  text-align: center;
  color: red;
  padding: 2px;
  border-radius: 2px;
}
